[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.git
[submodule "bundle/unite.vim"]
	path = bundle/unite.vim
	url = https://github.com/Shougo/unite.vim
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align
[submodule "bundle/vim-quickrun"]
	path = bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule "bundle/quickrunex-vim"]
	path = bundle/quickrunex-vim
	url = https://github.com/mattn/quickrunex-vim
[submodule "bundle/vim-operator-user"]
	path = bundle/vim-operator-user
	url = https://github.com/kana/vim-operator-user
[submodule "bundle/vim-textobj-user"]
	path = bundle/vim-textobj-user
	url = https://github.com/kana/vim-textobj-user
[submodule "bundle/vim-operator-replace"]
	path = bundle/vim-operator-replace
	url = https://github.com/kana/vim-operator-replace
[submodule "bundle/vim-operator-surround"]
	path = bundle/vim-operator-surround
	url = https://github.com/rhysd/vim-operator-surround
[submodule "bundle/vim-textobj-between"]
	path = bundle/vim-textobj-between
	url = https://github.com/thinca/vim-textobj-between
[submodule "bundle/neco-look"]
	path = bundle/neco-look
	url = https://github.com/ujihisa/neco-look
[submodule "ftbundle/ruby/vim-ruby"]
	path = ftbundle/ruby/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/neocomplete.vim"]
	path = bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim
[submodule "bundle/neosnippet"]
	path = bundle/neosnippet
	url = https://github.com/Shougo/neosnippet
[submodule "bundle/neosnippet-snippets"]
	path = bundle/neosnippet-snippets
	url = https://github.com/Shougo/neosnippet-snippets
[submodule "bundle/jedi-vim"]
	path = ftbundle/python/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
[submodule "ftbundle/python/python-syntax"]
	path = ftbundle/python/python-syntax
	url = https://github.com/hdima/python-syntax
[submodule "bundle/vim-ref"]
	path = bundle/vim-ref
	url = https://github.com/thinca/vim-ref
[submodule "bundle/ag.vim"]
	path = bundle/ag.vim
	url = https://github.com/rking/ag.vim
[submodule "bundle/incsearch.vim"]
	path = bundle/incsearch.vim
	url = https://github.com/haya14busa/incsearch.vim
[submodule "bundle/incsearch-migemo.vim"]
	path = bundle/incsearch-migemo.vim
	url = https://github.com/haya14busa/incsearch-migemo.vim
[submodule "bundle/incsearch-fuzzy.vim"]
	path = bundle/incsearch-fuzzy.vim
	url = https://github.com/haya14busa/incsearch-fuzzy.vim
[submodule "bundle/vim-asterisk"]
	path = bundle/vim-asterisk
	url = https://github.com/haya14busa/vim-asterisk
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "bundle/vim-airline-cwd"]
	path = bundle/vim-airline-cwd
	url = https://github.com/ompugao/vim-airline-cwd
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "bundle/ctrlp-history"]
	path = bundle/ctrlp-history
	url = https://github.com/ompugao/ctrlp-history
[submodule "bundle/ctrlp-locate"]
	path = bundle/ctrlp-locate
	url = https://github.com/ompugao/ctrlp-locate
[submodule "bundle/ctrlp-funky"]
	path = bundle/ctrlp-funky
	url = https://github.com/tacahiroy/ctrlp-funky
[submodule "bundle/ctrlp-smarttabs"]
	path = bundle/ctrlp-smarttabs
	url = https://github.com/DavidEGx/ctrlp-smarttabs
[submodule "bundle/uncrustify-vim"]
	path = bundle/uncrustify-vim
	url = https://github.com/ompugao/uncrustify-vim
[submodule "bundle/vim-migemo"]
	path = bundle/vim-migemo
	url = https://github.com/haya14busa/vim-migemo
[submodule "bundle/eskk.vim"]
	path = bundle/eskk.vim
	url = https://github.com/tyru/eskk.vim.git
[submodule "bundle/vim-signature"]
	path = bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "bundle/vinarise"]
	path = bundle/vinarise
	url = https://github.com/Shougo/vinarise
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = https://github.com/mattn/webapi-vim
[submodule "bundle/open-browser.vim"]
	path = bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim
[submodule "bundle/twibill.vim"]
	path = bundle/twibill.vim
	url = https://github.com/basyura/twibill.vim
[submodule "bundle/bitly.vim"]
	path = bundle/bitly.vim
	url = https://github.com/basyura/bitly.vim
[submodule "bundle/neco-tweetvim"]
	path = bundle/neco-tweetvim
	url = https://github.com/yomi322/neco-tweetvim
[submodule "bundle/TweetVim"]
	path = bundle/TweetVim
	url = https://github.com/basyura/TweetVim
[submodule "bundle/previm"]
	path = bundle/previm
	url = https://github.com/kannokanno/previm
[submodule "ftbundle/markdown/vim-markdown"]
	path = ftbundle/markdown/vim-markdown
	url = https://github.com/plasticboy/vim-markdown
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/autodirmake.vim"]
	path = bundle/autodirmake.vim
	url = https://github.com/mopp/autodirmake.vim
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = https://github.com/mattn/emmet-vim
[submodule "vim-unbundle"]
	path = vim-unbundle
	url = https://github.com/sunaku/vim-unbundle
[submodule "bundle/vim-ctrlp-tjump"]
	path = bundle/vim-ctrlp-tjump
	url = https://github.com/ivalkeen/vim-ctrlp-tjump
[submodule "bundle/vim-orgmode"]
	path = bundle/vim-orgmode
	url = https://github.com/jceb/vim-orgmode
[submodule "bundle/vim-speeddating"]
	path = bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "bundle/ctrlp-tweetvim"]
	path = bundle/ctrlp-tweetvim
	url = https://github.com/ompugao/ctrlp-tweetvim
[submodule "ftbundle/octave/vim-octave"]
	path = ftbundle/octave/vim-octave
	url = https://github.com/jvirtanen/vim-octave
[submodule "bundle/agit.vim"]
	path = bundle/agit.vim
	url = https://github.com/cohama/agit.vim
[submodule "bundle/ctrlp-grep"]
	path = bundle/ctrlp-grep
	url = https://github.com/ompugao/ctrlp-grep
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "bundle/vim-dirvish"]
	path = bundle/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "bundle/ale"]
	path = bundle/ale
	url = https://github.com/w0rp/ale
[submodule "ftbundle/rust/rust.vim"]
	path = ftbundle/rust/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "bundle/asyncrun.vim"]
	path = bundle/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "bundle/iceberg.vim"]
	path = bundle/iceberg.vim
	url = https://github.com/cocopon/iceberg.vim
[submodule "ftbundle/rust/vim-racer"]
	path = ftbundle/rust/vim-racer
	url = https://github.com/racer-rust/vim-racer
[submodule "bundle/harlequin"]
	path = bundle/harlequin
	url = https://github.com/ompugao/harlequin
[submodule "bundle/papercolor-theme"]
	path = bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme
[submodule "bundle/vim-gutentags"]
	path = bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags/
